<div class="title"><%= name %></div>
<div class="gallery">
  <div class="m-scooch m-fluid m-scooch-photos ">
    <!-- the slider -->
    <div class="m-scooch-inner">
      <!-- the items -->
      <div class="m-item m-active">
        <img src="http://maps.googleapis.com/maps/api/streetview?size=400x400&location=40.820032,-73.988354&fov=90&heading=235&pitch=10&sensor=false">
      </div>
      <div class="m-item">
        <img src="http://maps.googleapis.com/maps/api/streetview?size=400x400&location=40.820032,-73.988354&fov=90&heading=235&pitch=10&sensor=false">
      </div>
      <div class="m-item">
        <img src="http://maps.googleapis.com/maps/api/streetview?size=400x400&location=40.820032,-73.988354&fov=90&heading=235&pitch=10&sensor=false">
      </div>
    </div>
    <!-- the controls -->
    <div class="m-scooch-controls m-scooch-bulleted">
      <a href="#" data-slide="prev">Previous</a>
      <a href="#" data-slide="1" class="m-active">1</a>
      <a href="#" data-slide="2">2</a>
      <a href="#" data-slide="3">3</a>
      <a href="#" data-slide="next">Next</a>
    </div>
  </div>
</div>
<div class="description"><%= description %></div>
