<div class="category-list">
  <div class="row">
    <div class="hospital" data-type="hospital">Bolnica</div>
    <div class="center" data-type="center">DomZdravlja</div>
    <div class="office" data-type="office">Ambulanta</div>
  </div>
  <div class="row">
    <div class="defibrilator" data-type="defibrilator">Defibrillator</div>
    <div class="pharmacy" data-type="pharmacy">Ljekarna</div>
    <div class="emergency" data-type="emergency">Hitna</div>
  </div>
</div>
<div class="time-chooser">
  <div class="time-toggle"> Vrijeme </div>
  <div class="no-time"></div>
  <div class="set-time">
    <form class="pure-form pure-g pure-form-aligned">
      <div class="pure-u-1-2">
        <input id="time-from" type="text" class="pure-input-1 time-from" placeholder="Od" value="8">
      </div>
      <div class="pure-u-1-2">
        <input type="text" class="pure-input-1 time-to" placeholder="Do" value="20">
      </div>
      <div class="pure-u-1">
        <input type="text" class="pure-input-1 day" placeholder="Na dan" value="<%= new Date().toLocaleDateString() %>">
      </div>
    </form>
  </div>
</div>
<div class="wrong-holder"></div>

<div class="filter-btn pure-button pure-button-xlarge touchable"> Filtiraj </div>
