<div class="category-list">
  <div class="row">
    <div class="hospital" data-type="hospital">Bolnica</div>
    <div class="center" data-type="center">DomZdravlja</div>
    <div class="office" data-type="office">Ambulanta</div>
  </div>
  <div class="row">
    <div class="defibrilator" data-type="defibrilator">Defibrillator</div>
    <div class="pharmacy" data-type="pharmacy">Ljekarna</div>
    <div class="emergency" data-type="emergency">Hitna</div>
  </div>
</div>
<div class="time-chooser">
  <div class="no-time"></div>
  <div class="set-time">
    <input type="text" class="time-from" placeholder="Od">
    <input type="text" class="time-to" placeholder="Do">
    <input type="text" class="day" placeholder="Na dan">
  </div>
</div>
<div class="wrong-holder"></div>

<div class="filter-btn pure-button pure-button-xlarge"> Filtiraj </div>
