.details-view {

  .gallery {
    height: 200px;
    .m-item {
      text-align: center;
      img {
        max-height: 300px;
        max-width: 300px;
      }
    }
  }

  .card {
    margin: 10px 15px;
    height: auto;
    color: #777;
  }

  .title {
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
  }

  .title, .gallery, .description, .phone, .address, .working-hours {
    margin-bottom: 10px;
    padding: 10px;
  }

  .content {
    table {
      width: 100%;
      th {
        width: 100px;
      }
    }
  }
}
