.details-view {

  .gallery {
    height: 200px;
    .m-item {
      text-align: center;
      img {
        max-height: 300px;
        max-width: 300px;
      }
    }
  }

  .title {
    font-size: 1.3rem;
    text-align: center;
    font-weight: bold;
  }

  .title, .gallery, .description, .phone, .address, .working-hours {
    margin-bottom: 10px;
    padding: 10px;
  }

  .label {
    font-weight: bold;
    border-bottom: 1px solid #444;
  }
  .content {
    table {
      width: 100%;
      th {
        width: 100px;
      }
    }
  }
}