.filter-view {
  text-align: center;
  .category-list {
    .row {
      height: 90px;
      text-align: center;
      margin-top: 5px;

      >div {
        display: inline-block;
        height: 100%;
        width: 90px;
        border: 1px solid black;
        margin: 2.5px;

        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center center;
        overflow: hidden;

        &.hospital {
          background-image: url(../../images/marker_hospital.png);
          background-color: #FA8E7D;
        }

        &.center {
          background-image: url(../../images/marker_center.png);
          background-color: #B8D9E1;
        }

        &.defibrilator {
          background-image: url(../../images/marker_defibrilator.png);
          background-color: #FAFAEF;
        }

        &.office {
          background-image: url(../../images/marker_office.png);
          background-color: #60B1DE;
        }

        &.emergency {
          background-image: url(../../images/marker_emergency.png);
          background-color: #F0D44F;
        }


        &.pharmacy {
          background-image: url(../../images/marker_pharmacy.png);
          background-color: #A7CA5E;
        }

        &.selected {
          opacity: 0.7;
        }
      }
    }
  }
  .time-chooser {
    display: none;
    text-align: center;
  }

  .filter-btn {
    margin-top: 20px;
  }
}

.filter-btn {
  background-image: url(../../images/filter-icon.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: center center;
}
