.filter-view {
  text-align: center;
  .category-list {
    .row {
      height: 90px;
      text-align: center;
      margin-top: 25px;

      >div {
        display: inline-block;
        height: 100%;
        width: 90px;
        margin: 2.5px;
        border-radius: 5px;
        padding: 5px 0 0 0;
        border: 1px solid #777;
        font-size: 14px;

        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center 65%;
        overflow: hidden;
        opacity: 0.5;
        @include transition(opacity 0.2s);

        &.hospital {
          background-image: url(../../images/marker_hospital.png);
          background-color: #b8d9e1;
        }

        &.center {
          background-image: url(../../images/marker_center.png);
          background-color: #A0A0A0;
        }

        &.defibrilator {
          background-image: url(../../images/marker_defibrilator.png);
          background-color: #60b1de;
        }

        &.office {
          background-image: url(../../images/marker_office.png);
          background-color: #FA8E7D;
        }

        &.emergency {
          background-image: url(../../images/marker_emergency.png);
          background-color: #F0D44F;
        }

        &.pharmacy {
          background-image: url(../../images/marker_pharmacy.png);
          background-color: #A7CA5E;
        }

        &.selected {
          opacity: 1;
        }
      }
    }
  }
  .time-chooser {
    // display: none;
    text-align: center;
    margin-top: 30px;
    .time-toggle {
      padding: 10px;
      &:after {
        position: absolute;
        content: '';
        background-image: url(../images/dropdown_arrow.png);
        background-repeat: no-repeat;
        width: 30px;
        height: 30px;
        background-size: 40%;
        background-position: 50% 7px;
      }
    }
    .set-time {
      height: 0;
      overflow: hidden;

      input {
        width: 80%;
        margin: auto;
      }

      .day {
        margin: 20px auto;
        width: 70%;
      }
    }
    &.expanded {
      .set-time {
        height: auto;
      }
    }
  }

  .filter-btn {
    margin-top: 20px;
    -webkit-box-shadow: 0px 1px 2px 0px rgba(34, 25, 25, 0.4);
    box-shadow: 0px 1px 2px 0px rgba(34, 25, 25, 0.4);

    &.active  {
      opacity: 0.8;
    }
  }

}

