.composite-view {
  .overlay-container {

    .header {
      z-index: 2;
      position: absolute;
      top: 10px;
      left: 10px;
      right: 10px;
      @include display-box;

      .search {
        @include box-flex(1);
        margin-right: 10px;
        @include display-box;
        @extend .card;

        input {
          @include display-box;
          background-image: url('../images/search.png');
          background-size: 32px 32px;
          background-repeat: no-repeat;
          background-position: 4px 4px;
          border: none;
          background-color: transparent;
          color: #555;
          font-size: 28px;
          padding-left: 38px;
          line-height: 40px;
          outline: none;
          @include box-flex(1);
        }

        .location-clear {
          background-image: url('../images/clear.png');
          background-size: 32px 32px;
          background-position: 4px 4px;
          background-repeat: no-repeat;
          width: 40px;
        }

        &.nearby {
          input {
            background-image: url('../images/position.png');
          }
          .location-clear {
            display: none;
          }
        }
      }

      .filter-btn {
        @extend .card;
        width: 40px;
        background-image: url(../../images/filter-icon.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center center;
      }

      &.searching {
        height: 60px;
        z-index: 4;

        .search input {
          background-image: url('../images/search.png');
        }

        .search div.location-clear {
          display: block;
        }

        .filter-btn {
          display: none;
        }
      }
    }

    .footer {
      z-index: 2;
      position: absolute;
      bottom: 10px;
      left: 10px;
      right: 10px;

      .list-toggle {
        @extend .card;
        width: 40px;
        background-image: url(../../images/list.png);
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center center;
      }

      &.list {
        position: absolute;
        z-index: 4;
        .list-toggle {
          background-image: url(../../images/map.png);
        }
      }
    }
  }

  .map-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
  }
}
