html {
}

.card {
  background-color: #f7f7f7;
  border-radius: 3px;
  height: 40px;
  border: 1px solid #eee;
  box-shadow: 0 0 3px #ccc;
}

#main-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#secondary-content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: #fff;

  &.visible {
    z-index: 3;
  }
}

@import "location";
@import "map";
@import "search";
@import "filter";
